<template>
    <div class="panel panel-inverse" :class="{'panel-loading': isLoading}">
        <div class="panel-heading">
            <h4 class="panel-title" v-html="tag.name"></h4>
            <div class="panel-heading-btn">
                <div class="projects-status d-flex flex-wrap align-items-center justify-content-center m-r-15">
                    <a href="javascript:;" class="text-white p-5 m-r-5" @click="changeStatus(2)" :class="status == 2 ? 'font-weight-bold' : ''">
                        #Все
                    </a>
                    <a href="javascript:;" class="text-white p-5 m-r-5" @click="changeStatus(0)" :class="status == 0 ? 'font-weight-bold' : ''">
                        #В работе
                    </a>
                    <a href="javascript:;" class="text-white p-5" @click="changeStatus(1)" :class="status == 1 ? 'font-weight-bold' : ''">
                        #Доступны
                    </a>
                </div>

                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="panel-body p-20">

            <div class="projects d-flex flex-wrap">
                <project :project="project" :userId="userId" :tagUrl="tagUrl" :tagName="tag.name" :index="getIndex(index)" :totalProjects="pagination.total" :key="project.id" v-for="(project, index) in projects"></project>
            </div>

            <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5" @paginate="fetchProjects()" paginationClass="justify-content-center"></pagination>

            <div class="panel-loader" v-if="isLoading"><span class="spinner-small"></span></div>
        </div>
    </div>
</template>

<script>
    export default {
    	props: ['tag', 'tagUrl', 'userId'],
    	data: function() {
    		return {
    			isLoading: false,
                isEmpty: false,
                projects: {},
                status: 2,
                pagination: {
                    'current_page': 1
                }
    		}
    	},
    	methods: {
            changeStatus(status) {
                if(status != this.status) {
                    this.status = status;
                    this.pagination = {
                        'current_page': 1
                    };
                    this.fetchProjects();
                }
            },
            getIndex(index) {
                index = index + 1;
                if(this.pagination.current_page > 1) {
                    index = index + ((this.pagination.current_page - 1) * this.pagination.per_page);
                }
                return index;
            },
            fetchProjects() {
                this.isLoading = true;
                axios.get(this.tagUrl + '?page=' + this.pagination.current_page + '&status=' + this.status)
                .then(response => {
                    this.projects = response.data.data.data;

                    if(this.projects.lenght == 0) this.isEmpty = true;

                    this.pagination = response.data.pagination;

                    this.isLoading = false;
                })
                .catch(error => {
                    console.log(error.response.data);
                });
            },
    	},
    	computed: {
            
        },
    	created() {
    		this.fetchProjects();
    	}
    }
</script>