<template>
    <div class="project py-3 px-4" :class="project.status == 1 ? 'project-available' : 'project-in-work'">
        <div class="project-info">
            <div class="project-image m-b-5" v-if="project.image">
                <img :src="'/storage/' + project.image">
            </div>
            <div class="project-name" v-if="project.name">
                <strong>Наименование:</strong> <span v-html="project.name"></span>
            </div>
            <div class="project-status">
                <strong>Статус:</strong> <span v-html="project.status == 1 ? 'доступен' : 'В работе'"></span>
            </div>
        </div>

        <div class="project-button m-t-10">
            <button class="btn" @click="showProject" :class="project.status == 1 ? 'btn-success' : 'btn-info'">подробнее</button>
        </div>

        <!-- Modal -->
        <div class="modal fade project-modal" :id="'showProject' + project.id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="project-images" v-if="project.images">
                            <div class="project-image" v-for="image in project.images">
                                <img :src="'/storage/' + image">
                            </div>
                        </div>
                        <div class="project-data" v-if="project.status == 0">
                            <div class="project-name" v-html="project.name"></div>
                            <div class="project-status">
                                Статус: <span v-html="project.status == 1 ? 'доступен' : 'В работе'"></span>
                            </div>
                            <div class="project-participate" v-if="project.participants && checkIfParticipant(project.participants)">
                                <button class="btn btn-success">вы участник</button>
                            </div>
                            <div class="project-participate" v-else>
                                <button class="btn btn-warning" @click="sendParticipationRequest">принять участие</button>
                            </div>
                            <div class="project-content">
                                Описание проекта: <span v-html="project.content"></span>
                            </div>
                            <div class="project-achivement">
                                <div><img :src="project.achivement.icon_url"></div>
                                <div>достижение за участие в проекте</div>
                            </div>
                            <div class="project-participants">
                                <div class="project-participants-title">участники проекта</div>
                                <div class="project-participants-table">
                                    <table id="remotelearning-table" class="table table-striped table-bordered table-td-valign-middle">
                                        <thead>
                                            <tr>
                                                <th width="1%">№</th>
                                                <th width="1%" data-orderable="false"></th>
                                                <th class="text-nowrap">Ф.И.О.</th>
                                                <th class="text-nowrap">Образовательное учреждение</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(participant, index) in project.participants" v-if="project.participants">
                                                <td width="1%" class="f-s-600 text-inverse" v-html="(index + 1)"></td>
                                                <td width="1%" class="with-img"><img :src="participant.icon_url" class="img-rounded height-30" /></td>
                                                <td v-html="participant.name"></td>
                                                <td v-html="participant.institution.full_name" v-if="participant.institution"></td>
                                                <td v-else>- - -</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="project-data" v-else>
                            <div class="project-name" v-html="project.name"></div>
                            <div class="project-status">
                                Статус: <span v-html="project.status == 1 ? 'доступен' : 'В работе'"></span>
                            </div>
                            <div class="project-platforms" v-if="project.platforms">
                                <div class="project-platforms-title">Поддерживаемые платформы:</div>
                                <div class="project-platform" v-for="platform in project.platforms" :title="platform.name" :data-content="platform.description"><img :src="platform.icon_url"></div>
                            </div>
                            <div class="project-content">
                                Описание проекта: <span v-html="project.content"></span>
                            </div>
                            <div class="project-participants">
                                <div class="project-participants-title">Над проектом работали: </div>
                                <div class="project-participants-table">
                                    <table id="remotelearning-table" class="table table-striped table-bordered table-td-valign-middle">
                                        <thead>
                                            <tr>
                                                <th width="1%">№</th>
                                                <th width="1%" data-orderable="false"></th>
                                                <th class="text-nowrap">Ф.И.О.</th>
                                                <th class="text-nowrap">Образовательное учреждение</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(participant, index) in project.participants" v-if="project.participants">
                                                <td width="1%" class="f-s-600 text-inverse" v-html="(index + 1)"></td>
                                                <td width="1%" class="with-img"><img :src="participant.icon_url" class="img-rounded height-30" /></td>
                                                <td v-html="participant.name"></td>
                                                <td v-html="participant.institution.full_name" v-if="participant.institution"></td>
                                                <td v-else>- - -</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-modal-bottom d-flex align-items-center justify-content-between">
                        <div class="title-project-modal">
                            {{ tagName }} проект {{ index }} из {{ totalProjects }}
                        </div>
                        <div class="close-project-modal" data-dismiss="modal">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    	props: ['project', 'tagName', 'totalProjects', 'index', 'tagUrl', 'userId'],
    	data: function() {
    		return {
    			
    		}
    	},
    	methods: {
            sendParticipationRequest() {
                axios.post(this.tagUrl, {'project_id': this.project.id})
                .then(response => {
                    swal("Поздравляем!", "Ваша заявка на участие отправлена!", "success");
                    $('#showProject'+ this.project.id).modal('hide');
                })
                .catch(error => {
                    console.log(error.response.data);
                });
            },
            showProject() {
                $('#showProject'+ this.project.id).modal('show');
                $('.project-platform').popover({
                    trigger: 'click'
                });
            },
            getParticipantSubjects(subjects) {
                let subjects_array = [];
                subjects.forEach((element) => {
                    subjects_array.push(element.name);
                });

                return subjects_array.join(', ');
            },
            checkIfParticipant(participants) {
                let output = false;

                participants.forEach((paricipant) => {
                    if(paricipant.id == this.userId) output = true;
                });

                return output;
            }
    	},
    	computed: {
            
        },
    	created() {
    		
    	}
    }
</script>