<template>
    <div class="favorite-toggle d-flex align-items-center justify-content-between width-150">
        <div class="switcher m-r-15">
            <input type="checkbox" :id="'switcher_checkbox_' + userId" v-on:change="favoriteToggle" v-model="checked">
            <label :for="'switcher_checkbox_' + userId"></label>
        </div>
        <span v-if="checked">Добавлен</span>
        <span v-else>Не добавлен</span>
    </div>
</template>

<script>
    export default {
    	props: ['userId', 'url', 'status'],
    	data: function() {
    		return {
    			checked: false,
                request: false
    		}
    	},
    	methods: {
            favoriteToggle() {
                const axiosSource = axios.CancelToken.source();

                if(this.request) this.request.cancel();

                this.request = axiosSource;

                axios.post(this.url, {'user_id': this.userId, 'favorite': this.checked}, { cancelToken: axiosSource.token })
                .then(response => {
                })
                .catch(error => {
                    console.log(error.response.data);
                });
            }
    	},
    	computed: {
            
        },
    	created() {
    		this.checked = this.status;
    	}
    }
</script>