
.lessons {
	display: flex;
	align-items: center;
	.lesson {
		width: 50%;
		padding: 20px 50px;
		
		border-right: 1px solid #dedede;

	}
	@media(max-width: 1150px) {
		display: block;
		margin: 0;
		.lesson {
			width: 100%;
			border-right: none;
		}
	}
}

.online-recording {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	&:before {
		content: '';
		height: 100%;
		width: 1px;
		background: #dedede;
		position: absolute;
		left: 50%;
	}
	.live-view {
		width: 100%;
	}
	.lesson-controll {
		position: relative;
		width: 165px !important;
    	flex: none;
    	text-align: center;
   		padding: 20px;
    	background: #fff;
    	.lesson-clock {
    		margin-top: 10px;
		    font-size: 24px;
		    line-height: 24px;
		    font-weight: bold;
    	}
	}
	.lesson-participants {
		width: 100%;
		height: 100%;
	}

	@media(max-width: 1150px) {
		display: block;
		.lesson-controll {
			margin: auto;		
		}
	}
}

.recordings {
	display: flex;
	align-items: center;
	margin: -5px;
	.recording {
		padding: 5px;
		width: 50%;
		.recording-title {
			text-align: center;
			font-weight: 600;
		}
	}
	@media(max-width: 1600px) {
		display: block;
		margin: 0;
		.recording {
			width: 100%;
		}
	}
}