@import 'node_modules/animate.css/animate.min';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min';
@import 'node_modules/jquery-ui-dist/jquery-ui.min';
@import 'node_modules/pace-js/themes/black/pace-theme-flash';

/*!
 * Color Admin v4.6.0 (https://seantheme.com/color-admin/)
 * Copyright 2020 SeanTheme
 */
@import 'functions';
@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'mixins';
@import 'reboot';
@import 'app';
@import 'layout';
@import 'ui';
@import 'plugins';
@import 'helper';

@import 'remotelearning';

@import 'video';

.contact-email {
	display: flex;
	align-items: center;
	justify-content: space-between;
	& > span {
		margin-right: 15px;
		display: block;
	}
}

.favorite-toggle {
	.switcher {
		label {
			cursor: pointer;
		}
	}
}

td {
	&.offline {
		white-space: nowrap;
		&:before {
			content: "";
		    width: 16px;
		    height: 16px;
		    background: #ff5b57;
		    display: block;
		    padding: 0;
		    border-radius: 4px;
		    position: absolute;
		}
		& > span {
			display: block;
			padding-left: 25px;
		}
	}
	&.online {
		white-space: nowrap;
		&:before {
			content: "";
		    width: 16px;
		    height: 16px;
		    background: #32a932;
		    display: block;
		    padding: 0;
		    border-radius: 4px;
		    position: absolute;
		}
		& > span {
			display: block;
			padding-left: 25px;
		}
	}
}

.achievements {
	display: flex;
	flex-wrap: wrap;
	.achievement {
		width: 50%;
		flex-basis: 50%;
		padding: 0;
		&:nth-child(1) {
			border-bottom: 2px solid #000;
			border-right: 2px solid #000;
		}
		&:nth-child(2) {
			border-bottom: 2px solid #000;
		}
		&:nth-child(3) {
			border-right: 2px solid #000;
		}
		.achievement-title {
			text-align: center;
			font-size: 16px;
    		font-weight: bold;
    		margin-top: 30px;
		}
		.achievement-badges-wrapper {
			overflow: auto;
			padding: 40px 10px;
		}
		.achievement-badges {
			display: block;
    		text-align: center;
    		white-space: nowrap;
			.achievement-badge {
				width: 125px;
				display: inline-block;
    			position: relative;
    			vertical-align: text-top;
				&:not(:first-child) {
					&:before {
						top: 44px;
					    left: -10px;
					    content: "";
					    position: absolute;
					    width: 20px;
					    height: 2px;
					    background: #d9d9d9;
					}
				}
				.achievement-badge-image {
					img {
						width: 85px;
					    //border: 5px solid #ebebeb;
					    //filter: grayscale(1);
					}
				}
				.achievement-badge-name {
					margin-top: 10px;
					color: #8c8c8c;
					font-size: 14px;
					text-align: center;
					white-space: normal;
				}
			}
		}
		@media (max-width: 1200px) {
			width: 100%;
			flex-basis: 100%;
			padding: 10px;
			&:nth-child(1) {
				border-right: none;
			}
			&:nth-child(3) {
				border-right: none;
			}
			&:not(:last-child) {
				border-bottom: 2px solid #000;
			}
		}
	}
}


.schedule {
	padding: 40px;
}

div {
	&.is-loading {
		padding-bottom: 3rem;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 1rem;
			left: 50%;
			margin-left: -1rem;
			display: inline-block;
		    width: 2rem;
		    height: 2rem;
		    vertical-align: text-bottom;
		    background-color: $primary;
		    border-radius: 50%;
		    opacity: 0;
		    animation: spinner-grow .75s linear infinite;
		}
	}
}

.event {
	img {
		max-width: 100%;
		width: 100%;
	}
	.event-name {
		background: #272e34;
    	color: #fff;
	}
}


// Project

#projects {
	.project {
		width: 20%;
		display: flex;
		flex-direction: column;
		.project-info {
			flex: 1 1 auto;
    		min-height: 1px;
		}
		.project-image {
			img {
				width: 100%;	
			}
		}
		&.project-in-work {
			.project-image {
				filter: grayscale(1);
			}
		}
	}
	@media(max-width: 1320px) {
		.project {
			width: 33.333%;
		}
	}
	@media(max-width: 1020px) {
		.project {
			width: 50%;
		}
	}
	@media(max-width: 700px) {
		.project {
			width: 100%;
		}
	}
}
.project-modal {
	.modal-dialog {
    	max-width: 1000px;
    	margin: 2.5rem auto;
	}
	.modal-content {
		position: relative;
		background: rgb(217, 224, 232);
		.project-modal-bottom {
			width: 100%;
			position: absolute;
			bottom: 0;
			font-weight: bold;
			color: #d9e0e8;
			transform: translateY(100%);
			padding: 5px;
			.close-project-modal {
				font-size: 30px;
    			line-height: 30px;
    			cursor: pointer;
			}
		}
		.modal-body {
			display: flex;
			.project-images {
				flex: none;
				position: relative;
	    		width: 350px;
	    		margin-right: 1rem;
	    		overflow: hidden;
	    		.project-image {
	    			margin-bottom: 1rem;
	    		}
	    		&:after {
	    			content: "";
				    width: 100%;
				    height: 70px;
				    background: linear-gradient(180deg, rgba(217, 224, 232, 0), #d9e0e8);
				    bottom: 0;
				    position: absolute;
	    		}
			}
			.project-data {
				flex: 1;
				.project-name {
					text-align: center;
    				font-size: 20px;
    				font-weight: bold;
				}
				.project-status {
					text-align: center;
    				font-weight: bold;
    				margin-bottom: 10px;
    				span {
    					color: #6b6766;
    				}
				}
				.project-platforms {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					font-weight: bold;
					margin-bottom: 40px;
					.project-platform {
						margin: 5px;
						border-radius: 50%;
						border: 1px solid $primary;
						width: 30px;
						height: 30px;
						overflow: hidden;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						img {
							width: 100%;
							height: auto;
						}
					}
				}
				.project-participate {
					text-align: center;
				}
				.project-content {
					font-weight: bold;
					margin-top: 20px;
					margin-bottom: 20px;
					span {
    					color: #6b6766;
    				}
				}
				.project-achivement {
					text-align: center;
					font-weight: bold;
					img {
						max-width: 130px;
						width: 100%;
						margin-bottom: 5px;
					}
				}
				.project-participants {
					margin-top: 20px;
					.project-participants-title {
						font-weight: bold;
						font-size: 15px;
						margin-bottom: 5px;
					}
					.project-participants-table {
						table {
							background: #fff;
						}
					}
				}
			}
		}
		@media(max-width: 1020px) {
			.modal-body {
				display: block;
				.project-images {
					width: 100%;
				}
			}
		}
	}
}

.header-notifications {
	width: 240px;
	.notifications-list {
		max-height: calc(100vh - 125px);
		overflow-y: auto;
	}
	.dropdown-item {
		.media-heading {
			white-space: normal;
		}
	}
}


.pagination-block {
	.pagination {
		justify-content: center;
		flex-wrap: wrap;	
	}
}