<template>
    <nav class="pagination-nav" role="navigation" aria-label="pagination">
        <ul class="pagination flex-wrap" :class="paginationClass">
            <li class="page-item previous" :class="(pagination.current_page - 1) <= 0 ? 'disabled' : ''">
                <a @click.prevent="setPrevPage()" href="javascript:;" class="page-link">Предыдущая</a>
            </li>
            <li class="page-item" :class="isCurrentPage(page) ? 'active' : ''" v-for="page in pages">
                <a @click.prevent="changePage(page)" href="javascript:;" class="page-link">{{ page }}</a>
            </li>
            <li class="page-item next" :class="pagination.current_page == totalPages ? 'disabled' : ''">
                <a @click.prevent="setNextPage()" href="javascript:;" class="page-link">Следующая</a>
            </li>
        </ul>
    </nav>
</template>

<style>
    .pagination-nav {
        margin-top: 40px;
    }
</style>

<script>
    export default {
        props: ['pagination', 'offset', 'paginationClass'],
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
            },
            setPrevPage() {
                if((this.pagination.current_page - 1) >= 1) {
                    this.changePage(this.pagination.current_page - 1);
                }
            },
            setNextPage() {
                if(this.pagination.current_page != this.totalPages) {
                    this.changePage(this.pagination.current_page + 1);
                }
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = this.pagination.current_page - Math.floor(this.offset / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset - 1;
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                while (from <= to) {
                    pages.push(from);
                    from++;
                }
                return pages;
            },
            totalPages() {
                return this.pagination.last_page ? this.pagination.last_page : 1;
            }
        }
    }
</script>